/* pt-sans-caption-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-caption-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Caption'), local('PTSans-Caption'),
         url('../fonts/pt-sans-caption-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-caption-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  }
  /* pt-sans-caption-700 - latin_cyrillic */
  @font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-caption-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'),
         url('../fonts/pt-sans-caption-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-caption-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  }

:root {
    --basic-white: #ffffff;
    --basic-dark:  #EEEEEE;
    --basic-extra-dark: #888888;
    --basic-clack: #766357;
    --details:  #F2F2F2;
    --button: #81B3D2;
    --grey: #333333;
    --black2: #000000;
    --rating:  #666666;
    --ratingnbackground: #F2F2F2;
    --hoverbotton: #669EC0;
    --focusbutton: #5496BD;
    --active-color: rgba(255, 255, 255, 0.3);
}

body {
   min-width: 1200px;
   margin: 0;
   padding: 0;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   line-height: 26px;
   text-align: center;
   color: var(--black);
   text-transform: uppercase;
   background-color: var(--basic-extra-dark, #888);
   color: #000000;
}

.wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--basic-white, #fff);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    font-weight: bold;
    color:#000000;
}

img {
    height: auto;
    max-width: 100%;
}

form h2 {
    font-size: 21px;
    font-weight: bold;
    background-color: #766357;
    position: center;
    max-width: 568px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 55px;
    
}

p strong {
    font-size: 30px;
}

section {
    position:  center;
}

form {
    max-width: 568px;
    max-height: 481px;
    text-align: center;
    line-height: 26px;
}

.site-navigation {
    font-size: 14px;
    line-height: 26px;
    list-style: none; 
    
}

.site-navigation ul {
    list-style: none;
}

.button {
    font: inherit;
    text-align: center;
    color: #FFFFFF;
    background-color: #81B3D2;
    text-transform: uppercase;
    border: none;
    width: 458px;
    height: 58px;
    margin-top: 54px;
    margin-bottom: 55px;
    padding: 16px 182px 16px 182px;
    padding-bottom: 16px;
    padding-left: 182px;
    padding-right: 182px;
}

.button:hover {
    background-color: #669EC0;
    color: #FFFFFF; 
}

.button:active {
    border: none;
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496BD;
}

.intro {
    background-image: url(../img/backcorrectyeasy.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.photo2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

input, label {
    font: inherit;
    background-color: #F2F2F2;
    border: none;
    font-weight: bold;
}


.call-to-action {
    background-color: #FFFFFF;
    line-height: 24px;
    color: #333333;
}

.first-column { 
    text-align: left;
    list-style: none; 
    font-size: 21px;
} 

.second-column {
    text-align: center;
    list-style: none; 
}

.third-column {
    text-align: right;
    list-style: none; 
}

.one {
    background-image: url(../img/calendar.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.more {
    display:inline-block;
    vertical-align: top; 
    text-align: center;
    background-color: #81B3D2;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 3px 16px 3px 17px;

}

.book {
    display:inline-block;
    vertical-align: top; 
    text-align: center;
    text-align: center;
    background-color: #766357;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 3px 17px 3px 16px;
}

.book a,
.more a {
    color: #FFFFFF;
}

h3 {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;

}

.description p {
    font: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    color: #333333;
}

.rating span {
    font: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    background: #F2F2F2;
    padding: 3px 12px 3px 15px;

}

.sedona h2 {
    font-weight: bold;
}
.sedona p {
    color: #333333;
}

.img .photo2 {
    position: absolute; 
}

.site-navigation a:hover {
    color: #81B3D2;
}

.site-navigation a:focus {
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.site-navigation a:active {
    color: #766357;
}

.third-column p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}



.more:hover {
    background-color: #669EC0;
}

.more:active {
    background-color: #5496BD; 
    color: rgba(255, 255, 255, 0.3);
}

.book:hover {
    background-color: #604E43;
}

.book:active {
    background-color: #503E33; 
    color: rgba(255, 255, 255, 0.3);
}

.second-column a:hover {
    background-image: url(img..); /* я правильно поняла, что в иконках твитер ютуб и тд нужно при наведении менять иконки? img*/
}

.description h3:hover {
    color: #81B3D2;;
}

.description h3:active {
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
}

form h2:hover {
    background-color: #604E43;
}

form h2:active {
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3);
}

input:hover {
    background-color: #EBEBEB;
}

input:active{ 
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
}

.second-column img:active{
    opacity: 0.7;
}
.social-list-link {
    background-color: #81B3D2;
    height: 48px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-list-link:hover {
    background-color: #669EC0;
}

.social-list-link:active {
    background-color: #5496BD; 
}

.social-list-link:active img {
    opacity: 0.3;
}




footer a:hover,
footer a:active {
        text-decoration: none;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
